<html>
  <head>
    <title>POST - <%=title%></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="">
      <h1>NODE JS BOARD</h1>
      <h2>Practice how to use node js, express, ejs</h2>
    </div>
    <article>
        <div class="title">
            <h3>
                <%=title%>
            </h3>
        </div>
        <div class="content">
            <p>
                <%=content%>
            </p>
        </div>
    </article>
      <div>
          <form action="/updatePost" method="get">
              <input type="hidden" name="postid" value="<%=postid%>">
              <input type="submit" value="UPDATE">
          </form>
          <form action="/deletePost" method="post">
              <input type="hidden" name="postid" value="<%=postid%>">
              <input type="submit" value="DELETE">
          </form>
      </div>
  </body>
</html>
